<ion-view title="Contato" id="page14">
    <ion-content class="padding" padding="true" style="background: url(img/RemhoWZqQmCthiaob9c2_audio-1839162_640.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div class="list">
            <ion-list class="list-custom">
                <ion-item class="item-avatar">
                    <img src="venkman.jpg">
                    <h2>Ana Raquel</h2>
                </ion-item>
                <ion-item class="item-avatar">
                    <img src="venkman.jpg">
                    <h2>Franklin Távora</h2>
                </ion-item>
                <ion-item class="item-avatar">
                    <img src="venkman.jpg">
                    <h2>Jailson</h2>
                </ion-item>
                <ion-item class="item-avatar">
                    <img src="venkman.jpg">
                    <h2>Jéssica Edly</h2>
                </ion-item>
                <ion-item class="item-avatar">
                    <img src="venkman.jpg">
                    <h2>Kleyton Torres</h2>
                </ion-item>
                <ion-item class="item-avatar">
                    <img src="venkman.jpg">
                    <h2>Marlon</h2>
                </ion-item>
                <ion-item class="item-avatar">
                    <img src="venkman.jpg">
                    <h2>Paulo</h2>
                </ion-item>
        </div>
</ion-list></ion-content></ion-view>
