<ion-view title="Menu" id="page12">
    <ion-content padding="false" style="background: url(img/OF1wp1jKRdOALheHY9JT_audio-1839162_640.jpg) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="menu-list5" class="list list-insert " -->
            <div class="spacer" style="width: ; height: 10px;"></div>
            <div class="list item-custom">
                <a class="item item-icon-left " id="menu-list-item14" ui-sref="playlist">
                    <i class="icon ion-music-note "></i>
                    Playlist
      
            
                </a>
                <a class="item item-icon-left" id="menu-list-item15" ui-sref="top10">
                    <i class="icon ion-android-star"></i>
                    Top 10
      
            
                </a>
                <a class="item item-icon-left" id="menu-list-item16" ui-sref="mural">
                    <i class="icon ion-ios-chatbubble-outline"></i>
                    Mural
      
            
                </a>
                <a class="item item-icon-left" id="menu-list-item17" ui-sref="notCias">
                    <i class="icon ion-ios-paper-outline"></i>
                    Notícias
      
            
                </a>
                <a class="item item-icon-left" id="menu-list-item18" ui-sref="sugestEs">
                    <i class="icon ion-edit"></i>
                    Sugestões
            
                </a>
                <a class="item item-icon-left" id="menu-list-item19" ui-sref="procurarMSica">
                    <i class="icon ion-android-search"></i>
                    Procurar Música
            
                </a>
                <a class="item item-icon-left" id="menu-list-item28" ui-sref="contato">
                    <i class="icon ion-ios-people"></i>
                    Crédito
            
                </a>
                <a class="item item-icon-left" id="menu-list-item20" ui-sref="rDioIFRN">
                    <i class="icon ion-android-home"></i>
                    Tela Inicial
            
                </a>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
