<ion-view title="Rádio IFRN" hide-nav-bar="true" id="page1" style="background-color:#0E0D0D;">

  <ion-content padding="false" style="background: url(img/TTYgmBhkQMKR3FNnd7xw_audio-1839162_640.jpg) no-repeat  center;background-size:cover;" class="manual-ios-statusbar-padding">
    
    <div class="spacer" style="width: 700px; height: 50px;"></div>

    <div>
      <img  src="img/AlbCqsJCRreMWuKxqoPO_logo.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;  opacity: 0.7;filter: alpha(opacity=70);">
    </div>

    <div class="spacer" style="width: 700px; height: 20px;"></div>


    <ion-list class="list-inset">
    <ion-item class="item-button button-first">
    <button ui-sref="login" id="rDioIFRN-button3"  class="button button-outline button-light  button-block" >Login</button>
</ion-item>
     <ion-item class="item-button button-first">
    <button ui-sref="cadastrar" id="rDioIFRN-button4" class="button button-outline button-light  button-block">Cadastrar</button>

 </ion-item>
</ion-list >

  </ion-content>
</ion-view>
