<ion-view title="Recuperar Senha" id="page13">
<div class="bar bar-header">
  <h1 class="title"></h1>
</div>
 
  <ion-content padding="false" style="background: url(img/DKCZpq3CSgmTL6vjWhPW_audio-1839162_640.jpg) no-repeat center;background-size:cover;" class="no-header">
<div class="spacer" style="width: 700px; height: 60px;"></div>
<h1 class="h1-custom">Rádio IFRN<h1>
<div class="spacer" style="width: 700px; height: 100px;"></div>
    <form id="recuperarSenha-form3" class="list">

      <ion-list id="recuperarSenha-list8">

        <ion-item class="item item-input" id="recuperarSenha-input7">
           <i class="icon ion-ios-email-outline placeholder-icon"></i>

          <input type="text" placeholder="Informe e-mail">
        </ion-item>




    </form>
    <ion-item class="item-button">
    <button id="recuperarSenha-button11" class="button button-outline button-light  button-block">Enviar</button>
  </ion-item>
 </ion-list>
  </ion-content>
</ion-view>
