<ion-view title="Top 10" id="page7">
<div class="bar bar-header">
  <h1 class="title"></h1>
</div>

  <ion-content padding="false" style="background: url(img/POjKe7bT1WxN1y5WJqAA_audio-1839162_640.jpg) no-repeat center;background-size:cover;" class="no-header">

   <div class="spacer" style="width: 700px; height: 50px;"></div>


    <div class="list">

     <a class="item item-thumbnail-left">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine</h2>
       <p>Nine Inch Nails</p>
     </a>
     <a class="item item-thumbnail-left" >
       <img src="cover.jpg">
       <h2>Pretty Hate Machine 2</h2>
       <p>Nine Inch Nails</p>
     </a>
      <a class="item item-thumbnail-left">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine</h2>
       <p>Nine Inch Nails</p>
     </a>
     <a class="item item-thumbnail-left" href="#">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine 2</h2>
       <p>Nine Inch Nails</p>
     </a>
     <a class="item item-thumbnail-left" href="#">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine</h2>
       <p>Nine Inch Nails</p>
     </a>
     <a class="item item-thumbnail-left" href="#">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine 2</h2>
       <p>Nine Inch Nails</p>
     </a>
      <a class="item item-thumbnail-left" href="#">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine</h2>
       <p>Nine Inch Nails</p>
     </a>
     <a class="item item-thumbnail-left" href="#">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine 2</h2>
       <p>Nine Inch Nails</p>
     </a>
      <a class="item item-thumbnail-left" href="#">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine 2</h2>
       <p>Nine Inch Nails</p>
     </a>
      <a class="item item-thumbnail-left" href="#">
       <img src="cover.jpg">
       <h2>Pretty Hate Machine</h2>
       <p>Nine Inch Nails</p>
     </a>
   





 </div>

  </ion-content>
</ion-view>
